@import '../helpers/mixins';
@import 'breakpoints';

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 5vw;
    font-weight: 100;

    @include respond-to($for-desktop-up) {
        font-size: 4em;
    }
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: 400;
}

h3 {

}

h4 {
    font-size: 1em;
    text-transform: uppercase;
}

p {
    font-size: .8em;
    font-weight: 100;
    margin: 10px 0;
}

b {
    font-weight: bold;
}