#tools {

    #tools_bg {
        background-image: url("../images/background_tools.jpg");
    }

    #tools_bg_hover {
        background-image: url("../images/background_tools_hover.jpg");
        opacity: 0;
    }

    .logo__image {
        background-image: url("../images/logo_pavingtools.svg");
    }
}