#pavingtools {
    background-image: url("../images/background_pflastermeister_1.jpg");

    .logo__image {
        background-image: url("../images/logo_pavingtools.svg");
        background-size: 70%;
    }
}

#pavingtools_hover {
    background-image: url("../images/background_pflastermeister_1_hover.jpg");

    .logo__image {
        background-image: url("../images/logo_pavingtools.svg");
        background-size: 70%;
    }
}