#pflastermeister {
    background-image: url("../images/Background_Pflastermeister_2.jpg");

    .logo__image {
        background-image: url("../images/pflastermeister-2.svg");
    }

    .title {
        width: 100%;
        background-color: rgba(181, 77, 48, 0.7);
        text-align: center;

        padding: 10px 0;
        margin-top: 500px;
        
        &__text {
            color: white;
        }
    }
}