#pflastermeister {
    background-image: url("../images/background_pflastermeister.jpg");

    .logo__image {
        background-image: url("../images/logo_pflastermeister_2.svg");
    }

    .title {
        width: 100%;
        background-color: rgba(181, 77, 48, 0.7);
        text-align: center;

        padding: 10px 0;

        &__text {
            color: white;
        }
    }
}

#contact {
    display: block;
    background-color: $orange10;
    position: relative;

    .logo {
        position: absolute;
        right: 10%;
    }

    #contact_content {
        display: flex;
        flex-direction: row;
        padding: 20px 0;

        .contact_wrapper {
            width: 33%;
            padding: 0 50px;
        }

        .contact_form {

            input {
                height: 30px;
                margin: 7.5px 0;
                box-sizing: border-box;
                width: 100%;
            }

            #city {
                width: 100%;

                input:nth-child(1) {
                    width: 30%;
                    margin-right: 15px;
                }

                input:nth-child(2) {
                    width: 70%;
                }
            }
        }

        .contact_credits {
            color: white;

            border-right: 1px solid white;
            border-left: 1px solid white;
        }

        .contact_copyright {
            color: white;

            .small-text {
                font-size: 0.1em;
                margin: 15px 0;
            }
        }
    }
}