#technology {

    #technology_bg {
        background-image: url("../images/background_technology_2.jpg");
    }

    #technology_bg_hover {
        background-image: url("../images/background_technology_2_hover.jpg");
        opacity: 0;
    }

    .logo__image {
        background-image: url("../images/logo_pflastermeister_1.svg");
    }
}