#technology {
    background-image: url("../images/background_technology_2.jpg");

    .logo__image {
        background-image: url("../images/logo_pflastermeister_1.svg");
    }
}

#technology_hover {
    background-image: url("../images/background_technology_2_hover.jpg");

    .logo__image {
        background-image: url("../images/logo_training.svg");
        background-size: 70%;
    }

    .content {
        display: block;
    }
}