#skillstraining {
    background-image: url("../images/background_trainings_2.jpg");

    .logo__image {
        background-image: url("../images/logo_training.svg");
    }
}

#skillstraining_hover {
    background-image: url("../images/background_trainings_2_hover.jpg");

    .logo__image {
        background-image: url("../images/logo_training.svg");
        background-size: 70%;
    }

    .content {
        width: 50%;
        margin-left: 10%;

        .header {
            font-size: 30px;
            color: $orange;
        }

        .text {
            font-size: 18px;
            line-height: 1.5;
            text-align: justify;
        }
    }
}