@import 'colors';
@import '../../node_modules/susy/sass/susy';

/* ===== GLOBAL SETTINGS ====== */
body {
    margin: 0;
    padding: 0;
    border: none;

    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4em;
}

a {
    text-decoration: none;
}

.main_button {
    background-color: $orange;
    display: inline-block;

    a {
        display: block;
        color: white;
        font-size: 20px;
        padding: 20px 15px;
    }
}

/* ====== SECTIONS ======= */

.wrapper {
    width: 100%;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    position: absolute;
    right: 10%;

    @supports (position: sticky) or (position: -webkit-sticky) {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        margin: 0 10% 0 auto;
    }

    z-index: 2;

    width: 150px;
    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);

    &__image {
        height: 150px;

        background: no-repeat center;
        background-size: 100%;

        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.title {
    position: relative;
    top: 50%;

    width: 100%;
    background-color: $orangeTransparent;
    text-align: center;

    padding: 10px 0;

    &__text {
        color: white;
    }

    &--centered {
        //margin-top: 350px;
    }
}

.content {
    display: none;
    width: 50%;
    margin-left: 10%;

    .header {
        color: $orange;
    }

    .text {
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
    }
}


@import 'pflastermeister';
@import 'pavingtools';
@import 'technology';
@import 'trainings';

/* ======= CONTACT ========= */
#contact {
    position: fixed;
    bottom: 0;
    right: 100px;
    padding: 15px 20px;

    background-color: white;

    .contact__text {
        text-transform: uppercase;

        a {
            color: $orange;
            text-decoration: none;
        }
    }
}

#contact_form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100vh;
    width: 100vw;

}




















