@import 'colors';
@import '../../node_modules/susy/sass/susy';

/* ===== GLOBAL SETTINGS ====== */
body {
    margin: 0;
    padding: 0;
    border: none;

    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.main_button {
    background-color: $orange10;
    display: inline-block;

    a {
        display: block;
        color: white;
        font-size: 20px;
        padding: 20px 15px;
    }
}

/* ====== SECTIONS ======= */

.wrapper {
    width: 100vw;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section {
    position: relative;
    width: 100vw;
    padding-bottom: 15vh;

    .section_background {
        position: absolute;
        width: 100vw;
        height: 100%;

        top: 0;
        right: 0;
        left: 0;

        z-index: -1;

        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .section_header {
        position: relative;

        width: 100vw;
        height: 100vh;

        z-index: 2;
    }

    .section_content {
        width: 100vw;
    }
}


.logo {
    position: absolute;
    right: 10%;

    //@supports (position: sticky) or (position: -webkit-sticky) {
    //    position: -webkit-sticky;
    //    position: sticky;
    //    top: 0;
    //    margin: 0 5% 0 auto;
    //}

    z-index: 5;

    width: 150px;
    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);

    &__image {
        height: 150px;

        background: no-repeat center;
        background-size: 100%;

        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.title {
    position: relative;
    top: 50%;

    width: 100%;
    background-color: $orange8;
    text-align: center;

    padding: 10px 0;

    &__text {
        color: white;
    }

    &--centered {
        //margin-top: 350px;
    }
}

.content {
    width: 80%;
    margin: 0 auto;

    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;

    .header {
        color: $orange10;
    }

    .text {
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
    }
}

.content.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

/* ====== SIDE BAR ======== */

.side_bar {
    position: fixed;
    display: none;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $orange10;
    z-index: 10;

    &_logo {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        background-color: white;

        &_image {
            background: no-repeat center;
            background-size: 100%;

            transition: all 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        margin: 200px 100px;

        .side_bar_text {
            color: white;
            text-align: center;
        }

        .side_bar_icons {


            .icon {
                height: 50px;
                width: 50px;
            }

            #icon1 {
                background-image: url("../images/iconsammlung.eps");
            }
        }
    }

    &_button {
        position: absolute;
        display: flex;

        justify-content: center;
        align-items: center;

        bottom: 0;
        left: 50%;
        margin-left: -100px;

        background-color: white;
        height: 50px;
        width: 200px;

        cursor: pointer;

        &_text {
            color: $orange10;
            text-transform: uppercase;
        }
    }
}

@import 'pflastermeister';
@import 'pavingtools';
@import 'technology';
@import 'trainings';

/* ======= CONTACT ========= */
.contact_button {
    position: absolute;
    width: 150px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    bottom: 0;
    right: 10%;
    text-transform: uppercase;
    cursor: pointer;

    background-color: white;
    color: $orange10;

    z-index: 5;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


















