/* ===== content ===== */

@import '../../helpers/mixins';
@import '../../base/breakpoints';

.content {
    width: 80vw;
    margin: 0 auto;

    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;

    @include respond-to($for-tablet-landscape-up) {
        width: 50vw;
        margin: 0 auto 0 10vw;
    }
}

.content__header {
    color: $orange10;
}

.content__text {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin: 2em 0;
}

div.content.content--fade-in {
    opacity: 1;
    transform: translateY(0px);
}