.contact--side {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $orange10;
    z-index: 15;
}

.contact__logo {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 0 auto;
    display: block;
}

.contact__infos {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
}

.contact__icons {
    position: relative;
    width: 80%;
    margin: 30px auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.icon--big {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: solid white 3px;
    margin: 10px 10px;
}

.icon--small {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid white 3px;
    margin: 10px 10px;
}

.contact__close {
    display: flex;
    bottom: 0;
    justify-content: center;
}