@import '../helpers/functions';

#tools {

    .section__background {
        background-image: image("background_tools.jpg");
    }

    .section__background--blur {
        background-image: image("background_tools_hover.jpg");
        opacity: 0;
    }

    img {
        width: 90%;
    }
}