@import '../helpers/functions';
@import '../helpers/placeholders';

#pflastermeister {
    width: 100vw;
    height: 100vh;

    background-image: image("background_pflastermeister.jpg");

    background-size: cover;
    @extend %background--fixed;

}