@import '../helpers/functions';

#training {

    .section__background {
        background-image: image("background_trainings.jpg");
    }

    .section__background--blur {
        background-image: image("background_trainings_hover.jpg");
        opacity: 0;
    }
}